{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenu dans ce blog</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur eaque, asperiores quibusdam vero in, odit amet modi cum nostrum fugiat nobis repellat libero quasi! Iste numquam a fugiat, inventore error dicta eaque vitae quas tempora autem nulla, fuga unde hic.</p>
<p>Ea minima deserunt, consectetur atque saepe nesciunt, architecto provident dolorem perspiciatis totam ducimus doloribus sequi impedit eveniet reprehenderit neque ab quasi at illo maiores maxime nisi obcaecati eum sapiente. Quam distinctio similique officia explicabo quas repellendus suscipit dignissimos magnam exercitationem!</p>
{% endblock %}
