{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <section class="article">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 14/09/2022 à 17:52 dans la catégorie Politique</div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe dolor, deleniti vel officiis sint odit.</p>
                <p>Error iste ipsam porro, est consequuntur omnis, repudiandae illo, esse mollitia corporis eius! Ducimus, ipsam.</p>
                <a href="{{ path('app_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 14/09/2022 à 17:52 dans la catégorie Politique</div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veritatis ipsam consectetur corporis amet fugiat.</p>
                <p>Nam rerum autem atque nemo libero fugit! Amet, excepturi! Non quaerat ex illo nesciunt modi!</p>
                <a href="{{ path('app_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 14/09/2022 à 17:52 dans la catégorie Politique</div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi pariatur eos vel iure, commodi laboriosam?</p>
                <p>Consectetur tenetur vel consequuntur nostrum at et laudantium dolorum, voluptatum neque porro, debitis animi quia?</p>
                <a href="{{ path('app_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    </section>
{% endblock %}
